<body>
    <h2>Complaint Registered Successfully</h2>
    <p>Dear {complainerName},</p>
    <p>We have successfully registered your complaint under reference number {ticketNo}. Once resolved, close your complaint, please use the following PIN code: {otp}</p>
    <p>Should you require any further assistance, feel free to reach out to us.</p>
    <br>
    <p>Best Regards,</p>
    <p>Be Energy Ltd</p>
    <br>
    <img src="http://dev.makglobalps.com:703//images/Be-Energy-Login-removebg-preview.png" alt="Be Energy Ltd Logo" width="200">

</body>
